.man {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  left: 130px;
  color: black;
  box-shadow: 150px 240px 0 0 currentColor, 300px 240px 0 0 currentColor;
}

.man::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 120px;
  width: 210px;
  height: 120px;
  border-bottom: 180px solid currentColor;
  /*   background-color: red; */
  border-radius: 0 0 0 100%;
  transform: rotate(-40deg);
  transform-origin: right 210px;
}
.man::after {
  content: "";
  position: absolute;
  left: 390px;
  top: 120px;
  width: 210px;
  height: 120px;
  border-bottom: 180px solid currentColor;
  /*   background-color: red; */
  border-radius: 0 0 100% 0;
  transform: rotate(40deg);
  transform-origin: left 210px;
}

.man::before {
  animation: shakeLeft 1s ease-in-out infinite;
}
.man::after {
  animation: shakeRight 1s ease-in-out infinite;
}

@keyframes shakeLeft {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}

@keyframes shakeRight {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
